@(userscores: List[UserScore])


<!DOCTYPE html>
<html>
<head>
    <title>Recommendations</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@userscores(0).userName's show rankings</a>
            </div>
        </div>
    </div>
    <div class="container">
    <table class="table table-condensed table-striped table-hover">
        <tr>      
            <td>Title</td>
            <td>Classification</td>
            <td>Episodes</td>
            <td>Average Score</td>
            <td>Genres</td>
            <td>Ranked</td>
        </tr>  
        @for(score <- userscores) {
          <tr>
            <td><a href="http://myanimelist.net/anime/@score.rankedShow.showid"> @score.rankedShow.title</a></td>
            <td>@score.rankedShow.classification</td>
            <td>@score.rankedShow.episodes</td>
            <td>@score.rankedShow.avgMemberScore</td>
            <td>@score.rankedShow.genres</td>  
            <td>@score.rating/10</td>               
          </tr>     
        }
    </table>
    </div>
</body>
</html>