@(shows: List[models.Show])

<!DOCTYPE html>
<html>
<head>
    <title>Shows</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type="text/javascript" src="@routes.MessageController.javascriptRoutes"></script>
</head>
<body>
    <div class="container">
        @for(show <- shows) {
            <li>
                @show.showid,@show.title,@show.avgMemberScore
            </li>
        }
    </div>
</body>
</html>